[flake8]
exclude =
    .git,
    .github,
    lssrp_app/migrations

ignore = E203,W503

import-order-style = google
application-import-names = li_shared_app,li_mail_app,li_core

max-line-length = 100
