[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nox = "*"
flake8 = "*"

[packages]
psycopg2 = "==2.8.6"
django-environ = "*"
django = "~=3.1"
environ = "*"
django-tailwind = "==2.2.0"
django-debug-toolbar = "==3.2.1"
django-tinymce = "==3.2.0"
bleach = "==4.1.0"
django-bleach = "==0.7.2"
html2text = "==2020.1.16"
django-filebrowser = "==3.13.3"
pydantic = "==1.8.2"
ujson = "==4.2.0"

[requires]
python_version = "3.8"
