{% extends 'lssrp/base.html' %}

{% block title %}Lifeinvader | E-Mail{% endblock title %}
{% block main_class %}w-full{% endblock main_class %}
{% block main %}
    <section class="flex">
        <header class="w-1/5">
            <section class="flex flex-col">
                <header class="h-2/12">
                    <div class="min-h-full h-full min-w-full w-full bg-white text-center"><span class="py-4">Los Santos Mail</span></div>
                </header>
                <article class="h-10/12">Hut</article>
            </section>
        </header>
        <article class="w-4/5">
            <section class="flex flex-col">
                <header class="h-1/12">Hut</header>
                <article class="h-11/12">Hit</article>
            </section>
        </article>
    </section>
{% endblock main %}