{% extends 'lssrp/mail/base.html' %}

{% block extra %}
    {% include "lssrp/mail/components/compose.html" %}
{% endblock extra %}
{% block side_right %}
    {% if target|length > 0 %}
        <ul>
            {% for email in target %}
                {% include "lssrp/mail/components/mail.html" with email=email %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="flex min-w-full h-full min-h-full">
            <div class="mx-auto py-8 text-center font-bold">Wow... najdi si nekaj prijateljev</div>
        </div>
    {% endif %}
{% endblock side_right %}